.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 56px;
}

.sidenav-items {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  display: flex;
  width: 100%;
  padding: 1em;
}

.footer {
  height: 120px;
  width: 100%;
}