@use 'variables';

:host {
  position: fixed;
  display: flex;
  height: 100%;
  width: variables.$nav-rail-width;
  overflow-y: auto;
  z-index: 10;

  background-color: var(--primary-color);
  color: var(--on-primary-color);

  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  .nav-list {
    width: 100%;
  }
}
