@use "variables";

:host {
  display: flex;
  font: var(--uc-font);
  height: variables.$nav-item-height;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  .nav-item-icon {
    display: flex;
    width: variables.$nav-item-height;
    align-items: center;
    justify-content: center;
    color: var(--on-primary-color);
  }

  .nav-item-title {
    display: inline-flex;
    text-align: center;

    font-size: 14px;
  }

  &.active {
    color: var(--on-secondary-color);
    background-color: var(--secondary-color);
  }

  &:hover {
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
  }
}


