// Default SCSS variables for library's components
// Global
$font: 16px Roboto,Arial,sans-serif !default;
$primary-color: #365ca8 !default;
$on-primary-color: #FFFFFF !default;
$secondary-color: #7794ad !default;
$on-secondary-color: #FFFFFF !default;
// app-content
$app-container-padding-x: 5% !default;
$app-container-padding-y: 2em !default;
// nav-rail
$nav-rail-width-collapsed: 3em !default;
$nav-rail-width-expanded: 16em !default;
// nav-item
$nav-item-width: $nav-rail-width-collapsed;
$nav-item-height: $nav-rail-width-collapsed;
// card
$card-title-font-size: 1.25em !default;
$card-title-font-weight: 700 !default;
$card-content-font-size: 1em !default;
$card-padding: 1em !default;
$card-border-radius: 0.7em !default;
// data-table
$table-border-width: 1px !default;
$table-border-style: solid !default;
$table-border-radius: 0.8em !default;
