@use "../../../../../projects/ui-components/src/styles/variables";

.table-wrapper {
  display: flex;
  width: 100%;
  border-width: variables.$table-border-width;
  border-style: variables.$table-border-style;
  border-color: var(--primary-color);
  border-radius: variables.$table-border-radius;
}

.main {
  display: flex;
  width: 100%;
}


